*{

    margin: 0;
    padding: 20px 20px 0px 0px;
    box-sizing: border-box;  
}

body {
    background-image: url("wood_texture.jpeg");
    background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
  height: auto;
  overflow: visible;
}

.mask {
    position: absolute;
    top: 50px;
    right: 478px;
    width: 486px;
}

#background {

    animation: LeftDownFade 6s;
    transform-origin: center;
   
    
 }

#border{
    animation: slideIn ease 2.5s;
    animation-fill-mode: both;
    animation-delay: 6s;
}

#illustration, #border_text {
    animation: fadeIn ease 5s;
    animation-delay: 9s;
    animation-fill-mode: both;
}




#train {
    animation: trainMove ease 4s;
    animation-delay: 12.1s;
    animation-fill-mode: both;
    
   
    
}

#poster_info {
    animation: fadeIn ease 4s;
    animation-delay: 16.5s;
    animation-fill-mode: both;
    
}


@keyframes LeftDownFade {
    0% {
       opacity: .8;
       transform: translate(-1000px,-300px) rotate(15deg) scale(150%) ; 
        }
   33% {
    opacity: 1;
    transform: translate(1000px) rotate(-10deg) scale(140%);
    }
66% {
    transform: translate(-620px, 50px) rotate(8deg) scale(110%) ; 
  }
100% {
    opacity: 1;
       transform: translateX(0) scale(100%) ;}
 }   


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes trainMove {
    0% {transform: translate(300px, -200px);
        opacity: 0;
     
    30% {
        opacity: 1;
    }
}

100%  {
    opacity: 1;
    }
}

  @keyframes slideIn {
    0% {transform: translateY(-1000px);
        opacity: 0;
         }
    
100%  {transform: translateY(0px);
    }
}


